/* Estilos para a página de Empréstimo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.container {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos específicos para a página de consulta de empréstimos */
#emprestimoConsulta {
    width: 80%; /* Largura do campo de consulta */
}

.table {
    margin-top: 20px;
}
