/* Estilos para a página de Biblioteca */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav a:hover{
    text-decoration: none;
    color: #fff;
}

